.jumbotron {
    background-color: #888888;
    color: white;
    padding: 100px 25px;
}

.bg-grey {
    background-color: Gainsboro;
}

body{
    padding-top: 100px;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

body > .container-fluid {
    padding: 30px 50px;
}

/* sur petits écrans, la colonne passe dessous et il vaut mieux centrer le contenu */
@media screen and (max-width: 768px) {
    .center-logo {
        text-align: center;
        margin: 25px 0;
    }
}

h2 {
    margin-bottom: 30px;
}

.navbar {
    padding: 0;
}

h1 {
    background-color: #1b6d85;
}

.center{
    text-align: center;
}

.block{
    display: block;
}

label {
    text-align: right;
    margin: 20px;
}

.error {
    background-color: #ce8483;
}

a {
    color: #00B7FF;
}